h1 {
  color: darkblue;
}

h3 {
  color: grey;
  font-size: 15px;
  font-weight: 100;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 12px;
  font-weight: 100;
}

.units {
  font-size: 15px;
  position: relative;
  top: -8px;
}

.weathericon {
  width: 55px;
  padding: 5px;
}
#searchengine {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.updated {
  font-size: 15px;
  font-weight: 100;
  color: rgba(0, 0, 139, 0.555);
}
#celsius,
#fahrenheit {
  font-size: 15px;
  color: rgba(0, 0, 139, 0.555);
}

#celsius:hover {
  color: darkblue;
}

#fahrenheit:hover {
  color: darkblue;
}

.container {
  max-width: 800px;
}
.precipitation {
  color: grey;
  font-size: 15px;
}
.button {
  color: darkblue;
  background-color: white;
  border: white;
  border-radius: 5px;

  transition: ease-in-out 200ms;
}
.button:hover {
  color: white;
  background-color: darkblue;
}

.card {
  padding: 20px;
  margin: 20px;
}
.card-title {
  color: darkblue;
}

.col-sm-6 {
  padding: 0;
}
.footnote {
  color: grey;
  font-size: 10px;
  text-align: center;
}

.gitLink {
  color: darkblue;
  transition: ease-in-out 200ms;
}

.gitLink:hover {
  color: grey;
}

.forecast-date {
  font-size: 15px;
  color: darkblue;
  margin-top: 20px;
}

.forecast {
  text-align: center;
}
.forecast-temperatures-max {
  font-size: 15px;
  color: darkblue;
}

.forecast-temperatures-min {
  font-size: 15px;
  color: rgba(0, 0, 139, 0.555);
}
